label{
    text-transform: capitalize;
}

.login-div {
    padding: 15px;
    border: solid 1px gray;
    box-shadow: 0 0 2px;
    display: inline-block;
}

.login-div input[type="email"]:focus{
    border: solid 1px blue;
    box-shadow: 1px 1px 2px;
}
.login-div input[type="password"]:focus{
    border: solid 1px blue;
    box-shadow: 1px 1px 2px;
}

.login-div input{
    display: block;
    margin-bottom: 10px;
}

.login-div button:hover{
    box-shadow: 2px 2px 3px;
}

h1 {
    margin: 2px;
    color : tan;
    font-family: "oswald";
    text-align: center;
}

.content {
    padding: 5px;
    margin: 2px;
    color : grey;
    font-size: 24px;
    font-family: 'Antic Slab', serif;
    text-align: justify;
    text-transform: capitalize;
    line-height: 30px;
}

img {
    width : 20%;
    box-shadow: 0 0 3px;
    position: relative;
    display: inline-block;
        
    margin-left: auto;
    margin-right: auto;


}
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

@font-face{
    font-family: "oswald";
    src: url("../font/Oswald/static/Oswald-Light.ttf");
}

html {
    text-transform: uppercase;
}

.futter {
    margin: 2px;
    color: rgb(68, 68, 28)
    font-weight: bold;
}
.img-div{
    text-align: center;
    padding: 1%;
    margin: 1%;

}

